* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #7e8c4a;
}
main {
  min-height: 50em;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  padding-bottom: 0.5em;
}
p {
  padding-bottom: 1.5em;
}
.green-top {
  position: relative;
  bottom: 1.75em;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.green-top svg {
  position: relative;
  display: block;
  width: calc(147.3%);
  height: 2em;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.green-top .shape-fill {
  fill: #7e8c4a;
}
.circle {
  margin-top: 0.5em;
  padding-top: 0.3em;
  display: inline-block;
  background-color: rgba(102, 106, 115, 0.7);
  border-radius: 50%;
  height: 2em;
  width: 2em;
}
/* 
===============================================
===			        NAV                     ===
=============================================== 
*/
@media only screen and (min-width: 0em) {
  .navbar {
    background-color: #00060d;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7em;
  }
  .navbar span {
    margin-right: 10em;
  }
  /*
	===============================================
	===			       LANDING                  ===
	===============================================
	*/
  #hero {
    overflow: hidden;
  }
  #hero .header {
    position: relative;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #hero .header .overlay {
    background-color: rgba(0, 6, 13, 0.5);
    padding-top: 1.8em;
    text-align: center;
    font-size: 0.7em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #about {
    text-align: center;
    color: white;
    font-size: 0.7em;
  }
  #about .qoute {
    padding: 0 2.5em;
    font-weight: 300;
  }
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0.75em;
  }
  #about img {
    border-radius: 8%;
    margin-top: 4em;
  }
  #about .text {
    padding-left: 1em;
    text-align: left;
  }
  #about .text h2 {
    font-weight: 500;
  }
  #about .text .button {
    color: #000;
    display: block;
    display: inline-block;
    background: #fff;
    padding: 0.3em 0.75em;
    border-radius: 1.5em;
    font-weight: 500;
    margin: 0 0 1em 0;
    text-decoration: none;
  }
  #about .text #btn1 {
    background: #f27405;
    margin-right: 0.75em;
  }
  #about .green-top {
    bottom: -1em;
  }
  #about .green-top .shape-fill {
    opacity: 0;
  }
}
