/*-- -------------------------- -->
<---           NAVIGATION       -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    background-color: #00060d;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7em;
    width: 100vw;
  }
  .mobile-nav span {
    margin-right: 10em;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  .desktop-nav {
    font-size: inherit;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5em 2em;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 6, 13, 0.5);
    position: fixed;
    z-index: 10;
    width: 100vw;
  }
  .desktop-nav ul li {
    display: inline;
    margin-right: 1em;
  }
  .desktop-nav li a {
    text-decoration: none;
    color: #fff;
  }
  .mobile-nav {
    display: none;
  }
  .mobile-nav span {
    display: none;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #hero {
    position: relative;
    z-index: 1;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00060d;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero .header {
    padding: 1.5em 0;
  }
  #hero .header h1,
  #hero .header h2 {
    font-weight: 300;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #hero {
    font-size: 1.25em;
    padding: 3em 0;
  }
  #hero .wave-bottom {
    bottom: -3.25em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #about .qoute {
    padding: 0 2.5em;
    font-weight: 300;
    margin: auto;
  }
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0.75em;
  }
  #about .text {
    padding-left: 1em;
    text-align: left;
  }
  #about .text #btn1 {
    background: #f27405;
    margin-right: 0.75em;
  }
  #about #portrait {
    max-width: 32vw;
    max-height: 35vh;
    border-radius: 5%;
    margin-top: 2em;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #about {
    font-size: 1.05em;
  }
  #about .qoute {
    max-width: 50vw;
    margin: auto;
  }
  #about .container {
    margin: 3em auto;
    max-width: 70vw;
  }
  #about #portrait {
    max-height: 25vw;
  }
  #about .text {
    padding-left: 3em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           SERVICES         -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #services {
    position: relative;
    z-index: 1;
    background: url('../images/cutthroat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #services:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00060d;
    opacity: 0.75;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #services h4 {
    font-weight: 500;
    padding-bottom: 0.5em;
  }
  #services .card {
    width: 12em;
  }
  #services i {
    color: #000;
  }
  #services .circle {
    background-color: #fff;
    margin-bottom: 0.5em;
  }
  #services .wave-top {
    top: -1em;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #services {
    font-size: 1.05em;
  }
  #services .container {
    max-width: 70vw;
    margin: 1em auto;
  }
  #services .wave-top {
    top: -1.5em;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           PORTFOLIO        -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #portfolio ul li {
    display: inline-block;
  }
  #portfolio li a {
    color: #fff;
  }
  #portfolio .container {
    margin-top: 2em;
    padding-bottom: 3em;
  }
  #portfolio .project {
    position: relative;
    margin: 0.25em 0.25em;
  }
  #portfolio .project img {
    max-width: 7.65em;
    max-height: 8.25em;
  }
  #portfolio .hover {
    background-color: rgba(0, 6, 13, 0.7);
    width: 7.65em;
    height: 8.25em;
    position: absolute;
    top: 0em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    display: none;
  }
  #portfolio .hover h4 {
    padding: 1em 0 0.25em;
  }
  #portfolio .active {
    display: block;
  }
  #portfolio .wave-bottom .shape-fill {
    fill: #bf9b7a;
  }
}
/* Tablet */
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #portfolio {
    font-size: 1.05em;
  }
  #portfolio .hover {
    width: 15vw;
    height: 30vh;
  }
  #portfolio .container {
    max-width: 70vw;
    margin: 2em auto;
  }
  #portfolio .project img {
    max-width: 15vw;
    max-height: 30vh;
  }
}
/* Large Desktop */
/*-- -------------------------- -->
<---           TESTIMONIES      -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #testimonials {
    background-color: #bf9b7a;
  }
  #testimonials h4,
  #testimonials h5 {
    font-weight: 600;
    color: #000;
  }
  #testimonials p {
    padding: 0 1em 1em;
  }
  #testimonials .circle {
    color: #000;
    background-color: #fff;
    margin-bottom: 0.5em;
    -webkit-box-shadow: 0.1em 0.4em 0.2em rgba(0, 6, 13, 0.5);
            box-shadow: 0.1em 0.4em 0.2em rgba(0, 6, 13, 0.5);
  }
  #testimonials #border {
    border-color: #000;
    border-style: solid;
    border-width: 0.45em;
    height: 3em;
    width: 3em;
    background-color: rgba(102, 106, 115, 0);
    padding-top: 0.3em;
    margin: 1.5em;
  }
  #testimonials #border i {
    font-size: 1.71428571em;
  }
  #testimonials #border .qoute {
    padding: 0 1em 0 1em;
  }
  #testimonials .wave-top {
    top: 1em;
  }
}
/* Tablet */
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           PRICING          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #pricing {
    margin-top: 1em;
  }
  #pricing h3 {
    font-weight: 500;
    color: #fff;
  }
  #pricing h4 {
    font-weight: 200;
    margin: 0.5em 0;
  }
  #pricing #price {
    color: #83a603;
    margin: 0.5em;
  }
  #pricing .circle {
    display: none;
  }
  #pricing .container {
    color: #666a73;
    margin-top: 0.75em;
  }
  #pricing .container .card {
    background-color: #fff;
    border-style: solid;
    border-color: #666a73;
    border-width: 0.28em;
    border-radius: 1em;
    height: 20em;
    width: 16em;
    margin: 1em auto;
  }
  #pricing .container .card .head {
    background-color: #666a73;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: -0.25em;
  }
  #pricing .container .card ul {
    list-style: none;
    text-align: left;
    margin-left: 2.5em;
  }
  #pricing .container .card li {
    margin-bottom: 1em;
  }
  #pricing .container .card li i {
    color: #83a603;
    margin-right: 0.75em;
  }
  #pricing .container .card .button {
    color: #fff;
    background: #83a603;
  }
}
/* Tablet */
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           CONTACT          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #contact {
    background-color: #bf9b7a;
    color: #00060d;
    text-align: left;
    padding-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contact h2 {
    color: #fff;
  }
  #contact p {
    color: #323438;
  }
  #contact .text {
    margin: 1em 1.75em 1em 1em;
    max-width: 40%;
  }
  #contact #form {
    margin-top: 4em;
  }
  #contact #form input {
    border-radius: 0.5em;
    border-style: none;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    width: 45%;
    padding: 0.25em;
  }
  #contact #form .input3 {
    min-width: 93%;
  }
  #contact #form textarea {
    min-height: 5em;
    min-width: 93%;
    border-radius: 0.5em;
    padding: 0.25em;
    border: none;
  }
  #contact #form .button {
    background-color: #f27405;
    font-size: 0.92857143em;
    border-style: none;
    float: right;
    margin-right: 1.2em;
  }
  #contact #form ::-webkit-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form :-ms-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form ::-ms-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form ::placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
}
/* Tablet */
/* Small Desktop */
/* Large Desktop */
/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #footer {
    font-size: 0.65em;
    background-color: #666a73;
    text-align: center;
    color: #fff;
  }
  #footer .circle {
    margin: 1em 0.2em;
    background-color: #bf9b7a;
  }
  #footer ul li {
    display: inline-block;
  }
  #footer .wave-top {
    top: -1em;
  }
  #footer .wave-top .shape-fill {
    fill: #bf9b7a;
  }
}
/* Tablet */
/* Small Desktop */
/* Large Desktop */
