/*-- -------------------------- -->
<---           NAVIGATION       -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	.desktop-nav {
		display: none;
	}
	.mobile-nav {
		background-color: rgb(0, 6, 13);
		color: white;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 14/20em;
		width: 100vw;
	}

	.mobile-nav span {
		margin-right: 10em;
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	.desktop-nav {
		font-size: inherit;
		display: block;
		display: flex;
		justify-content: space-between;
		padding: 0.5em 2em;
		color: #fff;
		text-decoration: none;
		background-color: rgba(0, 6, 13, 0.5);
		position: fixed;
		z-index: 10;
		width: 100vw;

		ul li {
			display: inline;
			margin-right: 1em;
		}

		li a {
			text-decoration: none;
			color: #fff;
		}
	}
	.mobile-nav {
		display: none;
	}

	.mobile-nav span {
		display: none;
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}

/*-- -------------------------- -->
<---           LANDING          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#hero {
		position: relative;
		z-index: 1;
		background: url('../images/header.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: #00060d;
			opacity: 0.5;
			top: 0;
			left: 0;
			z-index: -10;
		}

		.header {
			padding: 1.5em 0;

			h1,
			h2 {
				font-weight: 300;
			}
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#hero {
		font-size: 25/20em;
		padding: 3em 0;

		.wave-bottom {
			bottom: -3.25em;
		}
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           ABOUT            -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#about {
		.qoute {
			padding: 0 2.5em;
			font-weight: 300;
			margin: auto;
		}

		.container {
			display: flex;
			margin: 2em 0.75em;
		}

		.text {
			padding-left: 1em;
			text-align: left;

			#btn1 {
				background: #f27405;
				margin-right: 0.75em;
			}
		}

		#portrait {
			max-width: 32vw;
			max-height: 35vh;
			border-radius: 5%;
			margin-top: 2em;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#about {
		font-size: 21/20em;

		.qoute {
			max-width: 50vw;
			margin: auto;
		}

		.container {
			margin: 3em auto;
			max-width: 70vw;
		}

		#portrait {
			max-height: 25vw;
		}

		.text {
			padding-left: 3em;
		}
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           SERVICES         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#services {
		position: relative;
		z-index: 1;
		background: url('../images/cutthroat.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: #00060d;
			opacity: 0.75;
			top: 0;
			left: 0;
			z-index: -10;
		}

		h4 {
			font-weight: 500;
			padding-bottom: 0.5em;
		}

		.card {
			width: 12em;
		}

		i {
			color: #000;
		}

		.circle {
			background-color: #fff;
			margin-bottom: 0.5em;
		}

		.wave-top {
			top: -1em;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#services {
		font-size: 21/20em;
		.container {
			max-width: 70vw;
			margin: 1em auto;
		}

		.wave-top {
			top: -1.5em;
		}
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           PORTFOLIO        -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#portfolio {
		ul li {
			display: inline-block;
		}

		li a {
			color: #fff;
		}

		.container {
			margin-top: 2em;
			padding-bottom: 3em;
		}

		.project {
			position: relative;
			margin: 0.25em 0.25em;

			img {
				max-width: 7.65em;
				max-height: 8.25em;
			}
		}

		.hover {
			background-color: rgba(0, 6, 13, 0.7);
			width: 7.65em;
			height: 8.25em;
			position: absolute;
			top: 0em;
			display: flex;
			flex-direction: column;
			align-content: space-between;
			display: none;

			h4 {
				padding: 1em 0 0.25em;
			}
		}

		.active {
			display: block;
		}

		.wave-bottom .shape-fill {
			fill: #bf9b7a;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#portfolio {
		font-size: 21/20em;

		.hover {
			width: 15vw;
			height: 30vh;
		}
		.container {
			max-width: 70vw;
			margin: 2em auto;
		}

		.project {
			img {
				max-width: 15vw;
				max-height: 30vh;
			}
		}
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           TESTIMONIES      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#testimonials {
		background-color: #bf9b7a;

		h4,
		h5 {
			font-weight: 600;
			color: #000;
		}

		p {
			padding: 0 1em 1em;
		}

		.circle {
			color: #000;
			background-color: #fff;
			margin-bottom: 0.5em;
			box-shadow: 0.1em 0.4em 0.2em rgba(0, 6, 13, 0.5);
		}

		#border {
			border-color: #000;
			border-style: solid;
			border-width: 0.45em;
			height: 3em;
			width: 3em;
			background-color: rgba(102, 106, 115, 0);
			padding-top: 0.3em;
			margin: 1.5em;

			i {
				font-size: 24/14em;
			}

			.qoute {
				padding: 0 1em 0 1em;
			}
		}

		.wave-top {
			top: 1em;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           PRICING          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#pricing {
		margin-top: 1em;

		h3 {
			font-weight: 500;
			color: #fff;
		}

		h4 {
			font-weight: 200;
			margin: 0.5em 0;
		}

		#price {
			color: #83a603;
			margin: 0.5em;
		}
		.circle {
			display: none;
		}

		.container {
			color: #666a73;
			margin-top: 0.75em;

			.card {
				background-color: #fff;
				border-style: solid;
				border-color: #666a73;
				border-width: 0.28em;
				border-radius: 1em;
				height: 20em;
				width: 16em;
				margin: 1em auto;

				.head {
					background-color: #666a73;
					border-top-left-radius: 1em;
					border-top-right-radius: 1em;
					margin: -0.25em;
				}

				ul {
					list-style: none;
					text-align: left;
					margin-left: 2.5em;
				}

				li {
					margin-bottom: 1em;
				}

				li i {
					color: #83a603;
					margin-right: 0.75em;
				}

				.button {
					color: #fff;
					background: #83a603;
				}
			}
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           CONTACT          -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#contact {
		background-color: #bf9b7a;
		color: #00060d;
		text-align: left;
		padding-bottom: 1em;
		display: flex;

		h2 {
			color: #fff;
		}

		p {
			color: #323438;
		}

		.text {
			margin: 1em 1.75em 1em 1em;
			max-width: 40%;
		}

		#form {
			margin-top: 4em;
			input {
				border-radius: 0.5em;
				border-style: none;
				margin-right: 0.25em;
				margin-bottom: 0.5em;
				width: 45%;
				padding: 0.25em;
			}

			.input3 {
				min-width: 93%;
			}

			textarea {
				min-height: 100/20em;
				min-width: 93%;
				border-radius: 0.5em;
				padding: 0.25em;
				border: none;
			}

			.button {
				background-color: #f27405;
				font-size: 13/14em;
				border-style: none;
				float: right;
				margin-right: 1.2em;
			}
			::placeholder {
				font-size: 10/14em;
				font-family: 'Poppins', sans-serif;
			}
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
/*-- -------------------------- -->
<---           FOOTER           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#footer {
		font-size: 13/20em;
		background-color: #666a73;
		text-align: center;
		color: #fff;

		.circle {
			margin: 1em 0.2em;
			background-color: #bf9b7a;
		}

		ul li {
			display: inline-block;
		}

		.wave-top {
			top: -1em;
		}

		.wave-top .shape-fill {
			fill: #bf9b7a;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
}
