* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #7e8c4a;
}
main {
  min-height: 50em;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  padding-bottom: 0.5em;
}
p {
  padding-bottom: 1.5em;
}
.green-top {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.green-top svg {
  position: relative;
  display: block;
  width: calc(147.3%);
  height: 2em;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.green-top .shape-fill {
  fill: #7e8c4a;
}
.circle {
  margin-top: 0.5em;
  padding-top: 0.3em;
  display: inline-block;
  background-color: rgba(102, 106, 115, 0.7);
  border-radius: 50%;
  height: 2em;
  width: 2em;
}
/* 
===============================================
===			        NAV                     ===
=============================================== 
*/
@media only screen and (min-width: 0em) {
  .navbar {
    background-color: #00060d;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7em;
  }
  .navbar span {
    margin-right: 10em;
  }
  /*
	===============================================
	===			       LANDING                  ===
	===============================================
	*/
  #hero {
    position: relative;
    z-index: 1;
    background: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 0.8em;
  }
  #hero:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00060d;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -10;
  }
  /*
	===============================================
	===			       ABOUT                    ===
	===============================================
	*/
  #about {
    text-align: center;
    color: white;
    font-size: 0.7em;
  }
  #about .qoute {
    padding: 0 2.5em;
    font-weight: 300;
  }
  #about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0.75em;
  }
  #about img {
    border-radius: 8%;
    margin-top: 4em;
  }
  #about .text {
    padding-left: 1em;
    text-align: left;
  }
  #about .text h2 {
    font-weight: 500;
  }
  #about .text .button {
    color: #000;
    display: block;
    display: inline-block;
    background: #fff;
    padding: 0.3em 0.75em;
    border-radius: 1.5em;
    font-weight: 500;
    margin: 0 0 1em 0;
    text-decoration: none;
  }
  #about .text #btn1 {
    background: #f27405;
    margin-right: 0.75em;
  }
  /*
	===============================================
	===			       SERVICES                 ===
	===============================================
	*/
  #services {
    position: relative;
    z-index: 1;
    background: url('../images/cutthroat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 0.7em;
  }
  #services:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #00060d;
    opacity: 0.75;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #services h2 {
    font-weight: 500;
    padding-top: 1em;
  }
  #services h4 {
    font-weight: 500;
    padding-bottom: 0.5em;
  }
  #services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #services .card {
    width: 12em;
  }
  #services i {
    color: #000;
  }
  #services .white {
    background-color: #fff;
    margin-bottom: 0.5em;
  }
  #services .green-top {
    top: -1em;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #services .green-top svg {
    height: 2.5em;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #services .green-bottom {
    position: relative;
    width: 100%;
    bottom: -1em;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  #services .green-bottom svg {
    position: relative;
    display: block;
    width: calc(147.3%);
    height: 2.5em;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #services .green-bottom .shape-fill {
    fill: #7e8c4a;
  }
  /*
	===============================================
	===			       PORTFOLIO                ===
	===============================================
	*/
  #portfolio {
    text-align: center;
    color: white;
    font-size: 0.7em;
  }
  #portfolio h2 {
    font-weight: 500;
    padding-top: 1em;
  }
  #portfolio ul li {
    display: inline-block;
  }
  #portfolio li a {
    color: #fff;
  }
  #portfolio .container {
    margin-top: 2em;
    padding-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #portfolio .project {
    position: relative;
    margin: 0.25em 0.25em;
  }
  #portfolio .hover {
    background-color: rgba(0, 6, 13, 0.7);
    width: 7.65em;
    height: 8.25em;
    position: absolute;
    top: 0em;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    display: none;
  }
  #portfolio .hover h4 {
    padding: 1em 0 0.25em;
  }
  #portfolio .active {
    display: block;
  }
  #portfolio .green-top {
    position: relative;
    width: 100%;
    bottom: -0.5em;
    overflow: hidden;
    line-height: 0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  #portfolio .green-top svg {
    position: relative;
    display: block;
    width: calc(147.3%);
    height: 2em;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #portfolio .green-top .shape-fill {
    fill: #bf9b7a;
  }
  /*
	===============================================
	===			       TESTIMONIALS              ===
	===============================================
	*/
  #testimonials {
    text-align: center;
    color: white;
    font-size: 0.7em;
    background-color: #bf9b7a;
  }
  #testimonials h4,
  #testimonials h5 {
    font-weight: 600;
    color: #000;
  }
  #testimonials p {
    padding: 0 1em 1em;
  }
  #testimonials .circle {
    color: #000;
  }
  #testimonials .white {
    background-color: #fff;
    margin-bottom: 0.5em;
  }
  #testimonials #border {
    border-color: #000;
    border-style: solid;
    border-width: 0.5em;
    height: 3em;
    width: 3em;
    background-color: rgba(102, 106, 115, 0);
    padding: 0;
    margin: 1.5em;
  }
  #testimonials #border i {
    font-size: 1.71428571em;
  }
  #testimonials #border .qoute {
    padding: 0 1em 0 1em;
  }
  #testimonials .green-top {
    top: 1em;
  }
  #testimonials .green-top svg {
    height: 2.5em;
  }
  /*
	===============================================
	===			       PRICING                  ===
	===============================================
	*/
  #pricing {
    text-align: center;
    color: white;
    font-size: 0.7em;
    margin-top: 3em;
  }
  #pricing h2,
  #pricing h3 {
    font-weight: 500;
  }
  #pricing h4 {
    font-weight: 200;
    margin: 0.5em 0;
  }
  #pricing h3 {
    color: #fff;
  }
  #pricing #price {
    color: #83a603;
    margin-top: 0.5em;
  }
  #pricing .white {
    background-color: #fff;
    margin-bottom: 0.5em;
    color: #000;
  }
  #pricing .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #666a73;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0.75em;
    position: relative;
  }
  #pricing .container .card {
    background-color: #fff;
    border-style: solid;
    border-color: #f27405;
    border-width: 0.28em;
    border-radius: 1em;
    height: 20em;
    width: 15em;
  }
  #pricing .container .card .head {
    background-color: #f27405;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin: -0.25em;
  }
  #pricing .container .card ul {
    list-style: none;
    text-align: left;
    margin-left: 2.5em;
  }
  #pricing .container .card li {
    margin-bottom: 1em;
  }
  #pricing .container .card li i {
    color: #83a603;
    margin-right: 0.75em;
  }
  #pricing .container .card .button {
    color: #fff;
    display: block;
    display: inline-block;
    background: #83a603;
    padding: 0.3em 0.75em;
    border-radius: 0.75em;
    font-weight: 500;
    margin: 0 0 1em 0;
    text-decoration: none;
  }
  #pricing .container #standard {
    z-index: 3;
  }
  #pricing .container #blog {
    z-index: 2;
    display: none;
  }
  #pricing .container #full-stack {
    z-index: 1;
    display: none;
  }
  #pricing .green-top {
    bottom: -0.25em;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  #pricing .green-top svg {
    height: 2.5em;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #pricing .green-top .shape-fill {
    fill: #bf9b7a;
  }
  /*
	===============================================
	===			       CONTACT                  ===
	===============================================
	*/
  #contact {
    font-size: 0.7em;
    background-color: #bf9b7a;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #contact h2 {
    font-weight: 500;
    color: #fff;
  }
  #contact p {
    color: #323438;
  }
  #contact .text {
    margin: 1em 1.75em 1em 1em;
    max-width: 40%;
  }
  #contact #form {
    margin-top: 4em;
  }
  #contact #form input {
    border-radius: 0.5em;
    border-style: none;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    width: 45%;
    padding: 0.25em;
  }
  #contact #form .input3 {
    min-width: 93%;
  }
  #contact #form textarea {
    min-height: 5em;
    min-width: 93%;
    border-radius: 0.5em;
    padding: 0.25em;
    border: none;
  }
  #contact #form .button {
    background-color: #f27405;
    font-size: 0.92857143em;
    padding: 0.5em 0.75em;
    border-radius: 1em;
    border-style: none;
    float: right;
    margin-right: 1.2em;
  }
  #contact #form ::-webkit-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form :-ms-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form ::-ms-input-placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  #contact #form ::placeholder {
    font-size: 0.71428571em;
    font-family: 'Poppins', sans-serif;
  }
  /*
	===============================================
	===			       FOOTER                   ===
	===============================================
	*/
  #footer {
    font-size: 0.65em;
    background-color: #666a73;
    text-align: center;
    color: #fff;
  }
  #footer .circle {
    margin: 1em 0.2em;
    background-color: #bf9b7a;
  }
  #footer ul li {
    display: inline-block;
  }
  #footer .green-top {
    bottom: 0.25em;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #footer .green-top svg {
    height: 2.5em;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  #footer .green-top .shape-fill {
    fill: #bf9b7a;
  }
}
